body {
    margin: 0;
    padding: 0;
}

body {
    background-image: url(/pexels-photo-4004375\ \(1\).webp);
    background-repeat: no-repeat;
    background-size: 200%;
    background-size: fixed;
}

.main {
    display: flex;
    margin-top: 4%;
    border: 1px solid wheat;
    border-radius: 12px;
    width: 100%;
    justify-content: center;
}

.det {
    margin-top: 2.95%;
    font-size: larger;
}
/* .det {
    width: 80%;
    top: 26%;
    left: 105%;
    display: flex;
    position: absolute;
    transform: translate(-50%, -50%);
    font-size: larger;
} */
.foot {
    position: fixed;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 100%;
    padding: 25px;
    display: flex;
    border-top-left-radius: 15px ;
    border-top-right-radius: 20px;
    
  }
  button{
    padding: 20px;
    margin: auto;
    background-color: black;
    border-radius: 20px;
    /* border: transparent; */
  }
  a{
    text-decoration: none;
    color: yellow;
    
  }
.img {
    margin: 20px;
}

img {
    object-fit: cover;
    border-radius: 50%;
    opacity: 50%;
}

img:hover {
    opacity: 100%;
}

.head {
    margin-left: 37%;
    color: yellow;
}

.head:hover {
    text-decoration: underline;
}

.main:hover {
    transition-delay: 0.3s;
}
/* .left {
float: left;
color: white;
}

.one {
color: red;
}

.two {
color: green;
}

.three {
font: bold;
color: blue;
}

.four {
color: purple;
font: 100px;
font-style: italic;
top: 15px;
} */

.prop1,
.prop2,
.prop3,
.prop4 {
    color: white;
}

.val1 {
    color: red;
}

.val2 {
    color: green;
}

.val3 {
    color: rgb(75, 159, 238);
    font: bold;
}

.val4 {
    color: purple;
    font-style: italic;
}

p {
    line-height: 29px;
}