
body{
    background-image: url(/pexels-karolina-grabowska-4194842.jpg);
}

body:hover{
    background: url(/pexels-oliver-sjöström-1122411\ \(1\).jpg)  fixed 50% 50%;
}
.main{
    /* position:absolute; */
    display: -flex;
    
}
.left{
    left: 40px;
    top: 40px;
    position: fixed;
    display:grid;
    border: 0.3px solid black;
    border-radius: 19px;
    background-color: white;
    box-shadow: 0px 0px 0px;
    padding: 25px 25px 25px 25px;
    opacity: 70%;
}
.left:hover{
    opacity: 100%;
    padding: 30px 30px 30px 30px;
    left: 70px;
    top: 50px;
    transition: 0.5s ease-in;
    box-shadow: 10px 10px 20px;
    background-color: peachpuff;
}
h1{
    text-align: center;
    text-decoration: underline;
    color: rgb(177, 32, 27);
}
li{
    color: rgb(0, 0, 0);
    font-style: bold;
}
.right{
    float: right;
    margin-top:33px;
    margin-right:50px;
    display:grid;
    border: 0.3px solid black;
    border-radius: 19px;
    background-color: white;
    box-shadow: 0px 0px 0px;
    padding: 25px 25px 25px 25px;
    opacity: 70%;
    
}
.right:hover{
    opacity: 100%;
    padding: 30px 30px 30px 30px;
    margin-left: 70px;
    bottom: 50px;
    transition: 0.7s ease-in;
    box-shadow: -10px 10px 20px;
    background-color: peachpuff;
}
.foot {
    position: fixed;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 100%;
    padding: 30px;
    display: flex;
    border-top-left-radius: 15px ;
    border-top-right-radius: 20px;
    
  }
  button{
    padding: 20px;
    margin: auto;
    background-color: transparent;
    border: transparent;
  }
  .foot:hover{
    background-color: papayawhip;
  }
  a{
    text-decoration: none;
    color: yellow;
    font-size: larger;
  }