*{
    margin: 0;
    padding: 0;
}
#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
  }
  /* .head{
    text-align: center;
    z-index: 1;
  }
  h1{
    z-index: 1;
  } */
table,th,td{
    /* border: 1px solid black ; */
    padding: 15px;
    border-collapse:collapse ;
    text-align: center;
    border-radius: 200px;
    /* background-color: peachpuff; */
}
.tab{
   top: 50%;
   left: 50%;
   display: flex;
   position:absolute;
   transform: translate(-50%,-50%);
   box-shadow: inset;
   box-shadow: 10px 10px 30px;
   background-color: peachpuff;
   border-radius: 22px;
}
.heading{
    text-decoration :underline;
    font-weight: 100;
    font-size: large;
    /* font-family: Arial, sans-serif; */
    color: black;
    /* font-style: italic; */
}
.h1,.h3{
    background-color: skyblue;
}
.h2,.h4{
    background-color: pink;
}
.r1d1,.r1d3{
    background-color: pink;
}
.r1d2,.r1d4{
    background-color: skyblue;
}
.r2d2,.r2d4{
    background-color: pink;
}
.r2d1,.r2d3{
    background-color: skyblue;
}
.r3d1,.r3d3{
    background-color: pink;
}
.r3d2,.r3d4{
    background-color: skyblue;
}
.foot {
    position: fixed;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 100%;
    padding: 25px;
    display: flex;
    border-top-left-radius: 15px ;
    border-top-right-radius: 20px;
    
  }
  button{
    padding: 20px;
    margin: auto;
    background-color: black;
    /* border: transparent; */
    border-radius: 20px;

}
a{
    text-decoration: none;
    color: yellow;
    font: bolder;
    font-size: larger;
}